html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
.App{
  height: 100%;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
.signedIn{
   background-color: #333333;
}
.signedOut{
  background-color: #3b257a;
}
header {
  width: 10%;
  display: flex;
  flex-direction: column;   
  align-items: left;      
  gap: 20px;                

}
.heading{
  text-align: center;
  color: #4A90E2;
  font-family: 'Arial', sans-serif;
  margin-top: 20px;
}
.top-right {
  position: absolute;
  top: 30px;
  right: 30px;
}